NEXT_PUBLIC_SUPABASE_URL=https://igikszitssjtjreznhzm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlnaWtzeml0c3NqdGpyZXpuaHptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzMTgzMTIsImV4cCI6MjA5NTg5NDMxMn0.ELYC8PO_ZSWemBDazp7qNC0mPwB6HG4FT0X2dpmUp34
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlnaWtzeml0c3NqdGpyZXpuaHptIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDMxODMxMiwiZXhwIjoyMDk1ODk0MzEyfQ._wYTGSl1ONlQLadybdH25hC87HCDJH8779rZneY_orQ
NEXT_PUBLIC_APP_URL=http://localhost:3000
